<div class="container  principal">

		<div class="admin attente">
			<h1 > Mes Réservations</h1>
		
			<h2 > En attente</h2>
		
			<div class="table-wrapper-scroll-y  my-custom-scrollbar">
			  <table class="table table-bordered mb-0">
			    <thead class="tetetable">
			      <tr>
			        <th scope="col">NumResa</th>
					<th scope="col"> Nombre Personnes  </th>
					<th scope="col"> Location </th>
					<th scope="col"> Semaine demandée </th>
					<th scope="col"> Annuler la demande de réservation </th>


			      </tr>
			    </thead>
			    <tbody>

			      {{#each reservationAttente}}
			      
					<tr>
						<th scope="row">{{NumResa}}</th>
						<td>{{NbPersResa}}</td>
						<td>{{LibeleLoc}}</td>
						<td>{{NumSemaine}}</td>
						<td><a href="/annulerResa/{{NumResa}}" class="btn btn-danger"> Annuler</a> </td>
		
					</tr>
				{{else}}
						<h2> Vous n'avez pas de réservation en attente </h2>

				{{/each}}
			    </tbody>
			  </table>
			 </div>
		  
		</div>

		<div class="admin valide">
			<h2 > Validées </h2>
			<div class="table-wrapper-scroll-y  my-custom-scrollbar">
				
			  <table class="table table-bordered mb-0">
			    <thead class="tetetable">
			      <tr>
			       <th scope="col">NumResa</th>
					<th scope="col"> Nombre Personnes  </th>
					<th scope="col"> Numero Loc </th>
					<th scope="col"> Semaine demandé </th>

			      </tr>
			    </thead>
			    <tbody>
			      {{#each reservationValide}}
					<tr>
						<th scope="row">{{NumResa}}</th>
						<td>{{NbPersResa}}</td>
						<td>{{LibeleLoc}}</td>
						<td>{{NumSemaine}}</td>

						
					</tr>
				{{else}}
						<h2> Vous n'avez pas de réservation Validé</h2>

				{{/each}}
			    </tbody>
			  </table>
			  
			</div>
		</div>
		<div class="admin refuse">
			<h2 > Refusées ou Annulées </h2>
			<div class="table-wrapper-scroll-y  my-custom-scrollbar">
				
			  <table class="table table-bordered mb-0">
			    <thead class="tetetable">
			      <tr>
			        <th scope="col">NumResa</th>
					<th scope="col"> Nombre Personnes  </th>
					<th scope="col"> Numero Loc </th>
					<th scope="col"> Semaine demandé </th>

			      </tr>
			    </thead>
			    <tbody>
			      {{#each reservationRefus}}
					<tr>
						<th scope="row">{{NumResa}}</th>
						<td>{{NbPersResa}}</td>
						<td>{{LibeleLoc}}</td>
						<td>{{NumSemaine}}</td>

						
					</tr>
				{{else}}
						<h2> Vous n'avez pas de réservation Refusé</h2>

				{{/each}}
			    </tbody>
			  </table>
			  
			</div>
		</div>

</div>









