<div class="container principal">
	<div class="reservation">
		<div class="row ">
			<div class="col-lg ">
				<h1>Les Reservations </h1>
			</div>

				</div>
				<!-- FOR EACH RESERVATION -->
				{{#each reservation}}
					<div class="row">
						<div class=" card " id="cardreserv">
							<h5 class="card-header" > Reservation n° {{NumResa}}</h5>
							<div class="card-body">
								<div class="EtatResa"> Etat de la reservation : {{EtatResa}}  </div>
								<ul>
									<li>Location : {{NumLoc}}</li>
									<li>Nb personne : {{NbPersResa}}</li>
									<li>Date Arrivée : {{DateArriveeResa}}</li>
									<li>Date Depart : {{DateDepartResa}}</li>

								</ul>
							</div>
						</div>
					</div>
				{{else}}
					<h2> Vous n'avez pas de reservations </h2>

				{{/each}}


			
			</div>
		</div>		
	</div>
</div>