<div class="container  principal">
	{{#if client.Admin}}
		<div class="admin">
			<h1 > Liste des relations 'Appliquer'</h1>
		</div>
		<div class="table-wrapper-scroll-y  my-custom-scrollbar">
				

		  <table class="table table-bordered mb-0">
		    <thead class="tetetable">
		      <tr>
		      	<th scope="col">Location</th>
		      	<th scope="col">Saison</th>
		      	<th scope="col">Tarif</th>
		      	<th scope="col">Suplement</th>
				<th scope="col"> Suppr </th>


		      </tr>
		    </thead>
		    <tbody>

		    	{{#each clients}}
			  		<tr>
<<<<<<< HEAD
			  			<th scope="row"> {{ LibeleLoc }} </th>
			  			<td scope ="row">{{ LibSaison }} </td>
			  			<td scope ="row">{{ PrixSemaine }} €/sem </td>
			  			<td scope ="row">{{	SuplementNbPersSup4 }} /pers </td>
			  			<td><a href="/admin/supprApplique/{{NumTarif}}/{{NumLoc}}/{{NumSaison}}"class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>

			  			
=======
			  			<th scope="row"> {{  }} </th>
			  			<td scope ="row">{{ }} </td>
			  			<td scope ="row">{{ }} </td>
			  			<td scope ="row">{{	 }} </td>
			  			<td scope ="row">{{ NumRueClient }} </td>
			  			<td scope ="row">{{RueClient }} </td>
			  			<td scope ="row">{{ CodePostalClient}} </td>
			  			<td scope ="row">{{ VilleClient}} </td>
			  			<td scope ="row">{{ PaysClient}} </td>
			  			<td scope ="row">{{ NumTelClient}} </td>
			  			<td><a href="/admin/modifClient/{{NumClient}}" class="btn btn-info">M</a></td>
>>>>>>> parent of 8eec49b...  probleme annulerreservation
			  			
				</tbody>
				</tr>
				{{else}}
					<h2> Il n'y a pas de client  </h2>

				{{/each}}

		      
		    </tbody>
		  </table>
		  
		</div>
		<div class="container">
			<div class="ajouter">
				<div class="col-lg-12">
<<<<<<< HEAD
			  		<a href="/admin/appliqueTarifs" class="btn btn-success btn-lg"> <i class="fas fa-plus"></i> Ajouter une relation </a>
=======
			  		<a href="/admin/ajoutClient" class="btn btn-success btn-lg"> Ajouter un client </a>
>>>>>>> parent of 8eec49b...  probleme annulerreservation
				</div>
			</div>
		</div>

	
</div>



	
{{else}}
  <div class="container principal">
    <h1 class="titlenotadmin"> Cet espace est reservé aux administrateurs<h1>
      <div class="fin ">
      </div>
    </div>
      

{{/if}}







