<div class="container  principal">
	{{#if client.Admin}}
		<div class="admin">
			<h1 > Liste des clients </h1>
		</div>
		<div class="table-wrapper-scroll-y  my-custom-scrollbar">
				

		  <table class="table table-bordered mb-0">
		    <thead class="tetetable">
		      <tr>
		      	<th scope="col">NumClient</th>
			      <th scope="col">Mail</th>
			      <th scope="col">Nom</th>
			      <th scope="col">Prenom</th>
			      <th scope="col">Num Rue</th>
			      <th scope="col">Rue</th>
			      <th scope="col">Code Postal</th>
			      <th scope="col">Ville</th>
			      <th scope="col">Pays</th>
			      <th scope="col">Telephone</th>
			      <th scope="col">Modif</th>

		      </tr>
		    </thead>
		    <tbody>

		    	{{#each clients}}
			  		<tr>
			  			<th scope="row"> {{ NumClient }} </th>
			  			<td scope ="row">{{MailClient }} </td>
			  			<td scope ="row">{{ NomClient}} </td>
			  			<td scope ="row">{{ PrenomClient}} </td>
			  			<td scope ="row">{{ NumRueClient }} </td>
			  			<td scope ="row">{{RueClient }} </td>
			  			<td scope ="row">{{ CodePostalClient}} </td>
			  			<td scope ="row">{{ VilleClient}} </td>
			  			<td scope ="row">{{ PaysClient}} </td>
			  			<td scope ="row">{{ NumTelClient}} </td>
			  			<td><a href="/admin/modifClient/{{NumClient}}" class="btn btn-info">M</a></td>
			  			
				</tbody>
				</tr>
				{{else}}
					<h2> Il n'y a pas de client  </h2>

				{{/each}}

		      
		    </tbody>
		  </table>
		  
		</div>
		<div class="container">
			<div class="ajouter">
				<div class="col-lg-12">
			  		<a href="/admin/ajoutClient" class="btn btn-success btn-lg"> Ajouter un client </a>
				</div>
			</div>
		</div>

	
</div>



	
{{else}}
  <div class="container principal">
    <h1 class="titlenotadmin"> Cet espace est reservé aux administrateurs<h1>
      <div class="fin ">
      </div>
    </div>
      

{{/if}}







