<div class="container principal">
    {{#if client.Admin}}
    
 <div class="ajoutSemaine">
    <div class="row ">
      <div class="ajoutSemaine">
        <div class="card">
          <h5 class="card-header"> Modification de la saison n°{{saisons.NumSaison}} </h5>
          <div class="card-body">
            <form action="/admin/modifSaison/{{saisons.NumSaison}}" method="POST">


              <div class="form-group">

                  <i class="far fa-file-alt"></i>
                  <input type="text" class="form-control"  value="{{saisons.LibSaison}}"  name="LibSaison" required>
              </div>
              <div class="pickerresa"> 
                <h5> Semaine de debut de Saison </h5>
               <select class=form-control name="SemDebutSaison" required>

                {{#each semaines}}
                  <option  value="{{NumSemaine}}"> {{NumSemaine}} : Du {{DateDebutSemaine}} au  {{DateFinSemaine}}</option>
                {{/each}}
                   
               </select>
              </div>
              <div class="pickerresa"> 
                <h5> Semaine de fin de Saison </h5>
               <select class=form-control name="SemFinSaison" required>

                {{#each semaines}}
                  <option  value="{{NumSemaine}}"> {{NumSemaine}} : Du {{DateDebutSemaine}} au  {{DateFinSemaine}}</option>
                {{/each}}
                   
               </select>
              </div>
             </br>
              <button type="submit" class="btn btn-success">Modifier la Saison </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {{else}}
  <div class="container principal">
    <h1 class="titlenotadmin"> Cet espace est reservé aux administrateurs<h1>
      <div class="fin ">
      </div>
    </div>
      

{{/if}}